html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-size: 20px;

  background: #000;
}

.login {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;

  text-align: center;
}

.login__h1 {
  margin: 0;

  font-size: 24px;
  line-height: 1.2;

  color: white;
}

.login__h2 {
  margin: 0 0 20px;

  font-size: 20px;
  line-height: 1.2;

  color: white;
}

.login__form {
  text-align: center;
}

.login__form .form__group {
  margin-bottom: 20px;
}

.login__form-input {
  height: 20px;
  width: 200px;
  padding: 10px;
}

.login__form-btn {
  width: 200px;
  padding: 10px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  outline: 1px solid black;
}

.header {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
  gap: 15px;

  background: #eee;
}

.header__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-grow: 1;
}

.header__app-name {
  font-weight: bold;
}

.header__user-name {
  font-size: 18px;

  color: #666;
}

.header__search {
  position: relative;

  display: flex;
  align-items: center;
  width: 250px;
}

.header__search:before {
  position: absolute;
  left: 0;
  top: 0;

  width: 35px;
  height: 100%;

  background: url("../images/search.png") center/16px no-repeat;

  content: '';
}

.form {
  display: flex;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  align-items: start;
}

.form__files {
  display: none;
}

.form__input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.header__search .form__input {
  padding-left: 40px;
}

.header__menu {
  width: 35px;
  height: 100%;

  background: url("../images/menu.png") center/20px no-repeat;

  cursor: pointer;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  background: white;
  overflow-y: auto;
}

.message__container {
  display: flex;
  flex-direction: column;
  align-self: end;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;

  background: mediumseagreen;
}

.message__container-interlocutor a {
  color: darkred;
}

.message__header {
  font-size: 14px;
  font-style: italic;

  color: #333;
}

.footer {
  width: 100%;

  background: #ccc;
}

.footer__files {
  position: relative;

  width: 40px;
  height: 60px;

  overflow: hidden;
}

.form__input-files {
  width: 100%;
  height: 100%;

  opacity: 0;
}

.footer__files-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  background: url("../images/files.png") center/contain no-repeat;

  cursor: pointer;
}

.footer__message {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.form__textarea {
  width: 100%;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;

  resize: none;
}

.footer__audio {
  width: 40px;
  height: 60px;

  background: url("../images/audio.png") center/contain no-repeat;

  cursor: pointer;
}

.footer__video {
  width: 40px;
  height: 60px;

  background: url("../images/video.png") center/contain no-repeat;

  cursor: pointer;
}

.fileList {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;
}

.fileList__item {
  padding: 10px 0;
  box-sizing: border-box;
}

.fileList__item-remove {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;

  background: url("../images/close.png") center/cover no-repeat;

  cursor: pointer;
}
